@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

/* RESUSABLE CLASS FOR FLEX PROPERTIES */
.flexp {
  display: flex;
  text-align: left;
}

.profnavbar {
  width: 50px;
  height: 50px;
  border-radius: 25px 25px 25px 25px;
}
