@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
}

.text-bold {
  font-weight: bold;
}

/* NAVBAR  */
.nav-bar {
  background-color: #fffcee;
  border-bottom: #ff5757 solid 10px;
  border-bottom-style: dotted;
  border: 4px solid #ff5757;
  padding: 10px;
  margin: 20px;
  box-shadow: 8px 8px #ff5757;
}

.sign-in-btn {
  border-radius: 1px;
  padding: 20px;
  margin: 0px 30px 0px 0px;
}

.nav-text {
  font-family:'Courier New', Courier, monospace;
  font-size: 22px;
  color: #ff5757;
  margin: 30px;
}

.profile-photo {
  border-radius: 50%;
}

/* CONTAINER WITH SCROLL FOR INGREDIENT CARDS  */
.ingredient-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 700px;
  max-width: 520px;
  overflow-y: auto;
}

/* CONTAINER WITH INGREDIENT DETAILS  */
.ingredient-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

/* INGREDIENT CARD BUTTON DIV  */
.ing-btn {
  display: flex;
  flex-direction: column;
}

/* INGREDIENT CARD IMAGE  */
.ing-img {
  height: 100px;
  width: 100px;
}

/* RECIPE PAGE CONTAINER  */
.recipe-container {
  display: flex;
  flex-direction: row;
}

/* RECIPE PAGE PHOTO/INGREDIENTS DIV  */
.photo-ing-cont {
  display: flex;
  flex-direction: column;
}

.line-break {
  white-space: pre-line;
}
