@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

/* CONTAINER WITH SCROLL FOR INGREDIENT CARDS  */
.ingredient-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  height: 700px;
  max-width: 520px;
  overflow-y: scroll;
}

/* CONTAINER WITH INGREDIENT DETAILS  */
.ingredient-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

/* INGREDIENT CARD BUTTON DIV  */
.ing-btn {
  display: flex;
  flex-direction: column;
}

/* INGREDIENT CARD IMAGE  */
.ing-img {
  height: 100px;
  width: 100px;
}

/* RECIPE PAGE CONTAINER  */
.recipe-container {
  display: flex;
  flex-direction: row;
}

/* RECIPE PAGE PHOTO/INGREDIENTS DIV  */
.photo-ing-cont {
  display: flex;
  flex-direction: column;
}
